.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61d7fb;
}

.navbar-wrapper {
  background-color: #424B54;
}

.navbar {
  margin-bottom: 40px;
}

.navbar-link {
  text-decoration: none;
}

.navbar-link:hover {
  text-decoration: none;
}

.hamburger {
  border-width: 0px;

  transition: ease 0.3s all;
}

.hamburger:hover {
  background-color: rgb(55, 62, 70);
}

.profile-avatar-container {
  display: flex;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  overflow: hidden;
  align-items: center;
  justify-content: center;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.file-upload {
  border-width: 0px;
} 
