.primary {
    background-color: #16a04d;
    border-color: #16a04d;
}

.primary-button {
    background-color: #16a04d;
    border-color: #16a04d;
    transition: ease 0.2s all;
}
.primary-button:hover {
    background-color: #10793a;
    border-color: #10793a;
}
.primary-button:active {
    background-color: #10793a !important;
    border-color: #10793a !important;
}

.secondary {
    background-color: #EAECF3;
    border-color: #EAECF3;
    color: black;
}

.secondary-accent {
    background-color: #dfe1e9;
    border-color: #dfe1e9;
    color: black;
}

.tertiary {
    background-color: #9bb2be;
    border-color: #9bb2be;
    color: white;
}

.selection-hover-fade {
    transition: ease 0.5s all;
}

.selection-hover-fade:hover {
    border-color: #9bb2be;
    background-color: #9bb2be;
}

.summary-image-container {
    height: 400px;
}

.summary-image {
    height: 400px;
    padding-bottom: 10px;
    border-radius: 3px;
}