.primary {
    background-color: #16a04d;
    border-color: #16a04d;
}

.primary-button {
    background-color: #16a04d;
    border-color: #16a04d;
    transition: ease 0.2s all;
}
.primary-button:hover {
    background-color: #10793a;
    border-color: #10793a;
}
.primary-button:active {
    background-color: #10793a !important;
    border-color: #10793a !important;
}

.secondary {
    background-color: #EAECF3;
    border-color: #EAECF3;
    color: black;
}

.tertiary {
    background-color: #839ba8;
    border-color: #839ba8;
    color: white;
}
